<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="/images/logoTerminado.png" />
    
    <title> Car O </title>
            <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">

</head>

<body>
	<%- include('./partials/header') %>
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=producto.marca%></h2> 
			<p class="product-detail-description">
				<a href="home/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/<%=producto.imagen %>" alt="Koenigsegg" class="product-detail-img">
					<p class="product-detail-description">
						<%=producto.descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">



					<!-- <section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="perfil/profile">Juanperez: </a> </strong>
								 Que buen auto,me encanta.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">JuanaMartinez: </a> </strong>
									No me gusta el color</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">AndreaBocelli: </a> </strong>
									El auto de mis sueños
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">NicolasBellomo: </a> </strong>
									Es un misil </p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">FranGomez: </a> </strong>
									Tengo que dejar un riñon para pagarlo</p>
							</div>
						</article>
						
					</section> -->
					
					<%if(comentarios.length==0){%> 
                        <h1>no existen comentarios para este producto</h1>
					<%}else { %>
						<%for(let i=0;i<comentarios.length;i+=1){%> 
						<div class="img-container offset-3 col-2">
							<img src="/images/products/default-image.png" alt="foto de perfil" class="foto-perfil">
						</div>

						<div class="data">
							<p class="user">
							<strong> <a href="/usuarios/users/<%=comentarios[i].usuario.id%>"><%=comentarios[i].usuario.nombre%></a> </strong>
							<%=comentarios[i].texto%></p> 
						<%	} %>

				<%	} %>

					<form class="form" action="/product/detail/<%= producto.id %>" method="POST">
					
					
						<p>
							<label for="email"> </label>
						</p>	
						<p>
								<label for="Descripcion"> Comentario </label>
								<input type="text" placeholder="Comentario" name="Comentario" id="Comentario">
						</p>
						
						<!--<p>
							<label for="Fecha">Fecha</label>
							<input type="text" placeholder="Fecha" name="Fecha" id="Fecha">
						</p> -->

						<p>
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</p>

						
							<h3>usted no puede ingresar un comentario no esta registrado</h3>
							
						
					</form>
					
					<hr>

				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

</body>	
</html>