<%-include('./partials/headerLogueado')%>
	
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<!--	<img src="/images/users/resultado.avatar>" alt="foto de perfil" class="foto-perfil">  -->
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%=locals.user.nombre%>
						<a href="/perfil/profile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="/perfil/profileEdit">EDITAR</a>
				</div>
				<div>
					<ul class="perfil-datos">
						
						<li><%=usuario.comentarios ? usuario.comentarios.length:0%> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->
	
	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
	

			<!-- Show mis productos -->
			<% usuario.productos.forEach(function(producto){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail/<%-producto.id %>">
							<figure class="product-box_image">
								<img src="<%-producto.imagen %>" alt="koenigsegg">
							</figure>
							<article class="product-box_data">
								<h2><%=producto.marca %></h2>
								<p><%-producto.modelo %></p>
								<p><%-producto.descripcion %></p>
							</article>
						</a>
					</section>
				</div>
			<button>
				<a class="btn mt-3 ml-4" href="/productos/edit/<%-producto.id %>"> Editar Producto</a>
			</button>
		    <% }); %>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
